/* comments in css */
.para {
  color: rgb(255, 97, 1);
  background-color: blue;
  border: 2px dotted red;
}
body {
  /* background-color: aquamarine; */
  background-image: url('/images//image2.jpg');
}
