/* comments in css */
.para {
  color: rgb(255, 97, 1);
  background-color: blue;
  /* border: 2px dotted red; */
  border-radius: 5px;
  /* padding: 5px 10px 15px 20px;
  margin-top: 70px; */
  text-align: center;
}
/* body {
  background-color: aquamarine;
  background-image: url('/images//image2.jpg');
} */
.para2 {
  color: rgb(18, 1, 255);
  background-color: rgb(255, 0, 0);
  /* border: 2px dotted yellow; */
  border-radius: 5px;
  /* padding: 25px 10px 35px 20px;
  margin: 40px 65px 60px 55px; */
  text-align: right;
}
a {
  color: green;
}

a:visited {
  color: brown;
}

a:hover {
  color: darksalmon;
}
a:link {
  color: darkcyan;
}
